*{                                                                      /* PARAMETRE GENERAUX */
    text-decoration: none;
    list-style: none;
    margin: 0%;
    font-family: "raleway-regular", sans-serif;    
}

@font-face{
    font-family: "raleway-regular ";
    src:url("Raleway-Regular.ttf");
    src:url("raleway-regular-webfont.woff");
    src:url("raleway-regular-webfont.woff2");
}

.link_card{
    color: black;
}

    body{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 50px;
}

.host , .mieux_note , .fun-card{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.all_card_heb , .fun{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

                                                                            /* PARAMETRE HEADER*/
header{
    width: 100%;
    display:flex;
    justify-content: space-between;
}

h1{
    width: 65%;
    padding: 20px 0;
}

.login{
    font-size: 20px;
    padding: 35px 0;
    margin-right: 35px;
}

nav{
    width: 30%; 
}

nav ul{
    padding: 0%;                               /* enleve le padding de la gauche de ul*/
    display: flex;
    justify-content: space-evenly; 
    
}

nav ul li{
    margin-right: 15px;
    width: 50%; 
    text-align: center;
}

nav a {
    display: block;
    padding-top: 35px;                       /*pour animation au suvol*/
    font-size: 20px;
    color: black;
}

nav ul li:hover a{
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/

#search{                                                                                    /*PARAMETRE SECTION SEARCH */
    width: 100%;
    height: auto;
}

#search h2{
    font-weight: bolder;
    font-size: 20px;
}

#search p{
    padding:10px 0px;
}

form{
    margin-top: 15px;
}


.logo_position{
   padding: 16px 14px 18px 14px;
   background-color: #F2F2F2;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
}

form button{                       /*paramètre généraux bouton validation formulaire*/
    position: relative;
    right: 5px;
    background-color: #0065FC;
    color: #FFF;
}

.desktop{                   /*paramatre bouton bureau*/
    font-size: 15px;
    height: 47px;
    padding-right: 16px;
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.nomad{     /*parametre bouton version mobile/tablette , non affiché*/
    width: 50px;
    height: 50px;
    display: none;
}

.logo_recherche{
    font-size: 15px;
    color: #FFF;
    background-color: #0065FC;
    display: block;

}

input{
    width: 220px;
    height: 35px;
    padding: 5px 10px;
    font-weight: bolder;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-left: 0px;
}

.list_filtre{
    margin-top: 20px;
}

.filtre{
  display: inline;
}

.list_filtre  p{         /* paragraphe et filtre sur la même ligne*/
    display: inline;
    font-weight: bold;
}

.filtre_icon{
    padding:20px;
    border-radius: 50%;
    background-color: #DEEBFF;
    color: #0065FC;
    position: relative;
    left: 20px;
    position: relative;
    z-index: 10;
}

.filtre button{
    font-weight: bolder;
    font-size: 15px;
    padding:15px 30px;
    background-color: #FFF;
    border: 1px solid grey;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: none;   
}

.filtre:last-child button{
    letter-spacing: -1px; 
}

.filtre:hover button{
    
    animation: fillOn 0.5s forwards;
}

@keyframes fillOn{
   
    0%{clip-path:circle(0%)}
    50%{clip-path: circle(50%); background-color: #DEEBFF;}
    100%{clip-path: circle(100%); background-color: #0065FC; color: #FFF;}
}

.result{
    margin:25px 0;
    display: flex;
}

.logo_lettreI{
    color: #0065FC;
    border: 1px solid #DEEBFF;
    border-radius: 50%;
    padding-right: 20px;
    place-self: center center;
}


.fa-star{
    color: #0065FC;
}

.nostar{
    color: #F2F2F2;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/

#hebergement{                                                                                   /* PARAMETRE SECTION HEBERGEMENT */  
    width: 69%;
    height: 750px;
    background-color: #F2F2F2;
    border-radius: 20px;
}

#hebergement h2{
    font-size: 22px;
    padding:40px 0 5px 30px;
}

.list-host{
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.host{
    width: 30%;
    height: 250px;
    margin-top: 30px;
    margin-left: 20px;
    background-color:#FFF;
    box-shadow: 2px 2px 10px rgba(180, 177, 177, 0.808);
    position: relative;
}

.list-host > p{
    font-size: 18px;
    font-weight: bold;
    margin-left:25px;
    letter-spacing: -1px;
    width: 100%;
}

.all_card_heb{
    margin: auto;
    width: 97%;
    height: 50%;
    margin-top: 5px;
    background-size: 100%;
    background-position: center;
    background-size: cover;
}

.infohost{
    height:auto;
    padding:10px 20px;
    
}

.hebone{
    background-image: url(Reservia/images/hebergements/small/marcus-loke.jpg);
}

.hebtwo{
    background-image: url(Reservia/images/hebergements/small/fred-kleber.jpg);
}

.hebthree{
    background-image: url(Reservia/images/hebergements/small/reisetopia.jpg);
}

.hebfour{
    background-image: url(Reservia/images/hebergements/small/annie-spratt.jpg); 
}

.hebfive{
    background-image: url(Reservia/images/hebergements/small/nicate-lee.jpg);
}

.hebsix{
    background-image: url(Reservia/images/hebergements/small/febrian-zakaria.jpg);
}

.name{
    font-weight: 600;
    font-size: 16px;
}

.price{
    font-weight: 100;
    padding: 8px 0;
}

span{
    font-weight: bold;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------*/

#popular{                                                                                               /* PARAMETRE SECTION POPULAR */
    border-radius: 20px;
    background-color: #F2F2F2;
    width: 28%;
    height: 750px;
}

.header_popular{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#popular h2{
    font-size: 22px;
    padding:40px 0 5px 30px;
}

.header_popular i{
    padding:40px 25px 20px 0;
    font-size: 25px;
}

.list-popular{
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mieux_note{
    width: 90%;
    height: 25%;
    display:flex;
    background-color:#FFF;
    margin-bottom: 40px;
    box-shadow: 2px 2px 10px rgba(180, 177, 177, 0.808);
}

.all_card_popular{
    margin: 5px;
    width: 45%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-size: cover;
    background-position: center;
}

.info{
    width: 55%;
    padding-left: 10px;
    position: relative;
    
}

.info .name{
    padding-top: 20px;
    width: 80%;
}

.star{
    position: absolute;
    bottom: 20px;
    
}

.imgone{
    background-image: url(Reservia/images/hebergements/small/emile-guillemot.jpg);
    background-position-x: center;
}

.imgtwo{
    background-image: url(Reservia/images/hebergements/small/aw-creative.jpg);
    background-position-x: center;
}

.imgthree{
    background-image: url(Reservia/images/hebergements/small/febrian-zakaria2.jpg);
    background-position-y:center;

}

.star{
    display: inline;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------- */

#activity{                                                                                      /* PARAMETRE SECTION ACTIVITE */
    width: 100%;
    height: auto;
    margin: 50px 0;
}

#activity h2{
    margin-bottom: 20px;
}

.list-activity{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}

.fun-card{
    background-color: #F2F2F2;
    box-shadow: 2px 2px 10px rgba(180, 177, 177, 0.808);
}

.activite{
    padding: 15px;
    font-weight: bold;

}

.large{                      /*dimension image 1 et 4 */
    width: 23%;
    height: 400px;
}

.size{                      /*dimension image 2 */
    width: 23%;
    height: 190px;
    margin-bottom: 40px;
}

.size1{                     /*dimension image 3 */
    width: 23%;
    height: 170px;
}

.size2{                     /* dimension image 5 et 6 */
    width: 23%;
    height: 170px;
}

.firsthalf{                /* marge entre image 5 et 6 */
    margin-bottom: 40px;
}

.fun{
    background-size: cover;
    background-position-y: 35%;
    background-position-x: center;

}

.funone{
    background-image: url(Reservia/images/activites/small/reno.jpg);
    height: 360px;
    width: 100%;
}

.funtwo{
    background-image: url(Reservia/images/activites/small/paul-hermann.jpg);
    height: 150px;
    width: 100%;
}

.funthree{
    background-image: url(Reservia/images/activites/small/kevin-hikari.jpg);
    height: 130px;
    width: 100%;
}

.funfour{
    background-image: url(Reservia/images/activites/small/kilyan.jpg);
    height: 360px;
    width: 100%;
}

.funfive{
    background-image: url(Reservia/images/activites/small/florian-wehde.jpg);
    height: 150px;
    width: 100%;
}

.funsix{
    background-image: url(Reservia/images/activites/small/lena-paulin.jpg);
    height: 150px;
    width: 100%;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------*/

footer{                                                                                            /* PARAMETRE FOOTER */  
    width: 100%;
    height: 250px;
    background-color: #F2F2F2;
    color: black;
    display: flex;
    justify-content: space-between;
}

footer div{
    width: 33%;
    display: flex;
    flex-direction: column;
}

footer p{
    padding: 40px 25px 20px 25px;
    font-weight: bold;
}

footer a{
    color: black;
    padding: 5px 25px;
}



@media screen and (max-width:768px){

    body{
        padding: 0%;
        margin: 0%;
        flex-direction: column;
        
    }

    header{
        flex-wrap: wrap;
    }

    h1{
        width: 30%;
        margin-left: 25px;
        order: 1;
    }

    .login{
        order:2;
    }

    nav{
        width: 100%;
        order: 3;
    }

    nav a{
        padding-bottom: 20px;
    }

    nav ul li a:hover{
        border-top: none;
        border-bottom:2px solid #0065FC;
    }

    section{
        margin-top: 20px;
    }

    /* Style de la section de recherche */

    #search{
        order: 1;
        padding-left: 20px;
    }

    #search h2{
        padding-top: 5px;
        font-weight: bolder;
        font-size: 20px;
    }

    #search p{
        padding:15px 0px;
    }

    .desktop{
        display: none;
    }

    .nomad{
        border-radius: 10px;
        display: initial;
    }

    .list_filtre{
        display: flex;
        flex-wrap: wrap;
    }

    .list_filtre p{
        width: 100%;
    }
    
    form input{
        width: 180px;
        padding: 5px;
    }
    
        
    
    /* Style de la section hebergement */


    #hebergement{
        background-color: #FFF;
        order: 3;
        width: 100%;
        height: auto;   
    }
    
    .list-host{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
    .host{
        width: 95%;
        margin: 3%;
        height: 220px;
    }
    
    .all_card_heb{
        height:100px;
    }
    
    /* Style de la section plus populaire */

    #popular{
        order: 2;
        width: 100%;     
    }

    /* Style de la section activity */
    
    #activity{
        order: 4;
        height: auto;
        width: 100%;
    }

    #activity h2 {
        margin-left: 20px;
    }

    .list-activity{
        height: auto;
    }

    .fun-card{
        margin: 20px 3%;
        height: 200px;
        width: 95%;
        box-shadow: 2px 2px 10px rgba(180, 177, 177, 0.808);
    }

    .fun{
        width: 100%;
        height: 75%;
    }

    /* Style du pied de page */

    footer{
        order: 5;
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        margin-top: 30px;
        padding-left: 25px;
    }

    footer div {
        width: 100%;
        margin-top: 15px;
    }

    footer p{
        padding: 10px 10px;
        font-weight: 600;
        color: black;
    }

    footer a {
        padding: 5px 10px;
        color: black
    }

}


@media screen and (min-width:769px) and (max-width:991px){

body{
    margin: 0 25px;
    padding: 0%;
    display: grid;
    grid-template-columns: 3% 30% 4% 60% 3% ;
    grid-template-rows: 100px  repeat(3, auto) 200px;
}

header{
    grid-area: 1/2/2/5;
}

h1{
    width: 50%;
    order: 1;
}

.login{
    order:3;
    width: auto;
}

nav{
    width: 40%;
    order: 2;
}

#search{
    grid-area: 2/2/3/3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    order: 1;
    border-radius: 20px;
}

#search h2{
    font-weight: bolder;
    padding: 0 15px;
    font-size: 20px;
    width: 90%;
}

#search p{
    width: 90%;
    font-size: 15px;
    padding: 20px 15px;
    
}

.list_filtre{
    display: flex;
    flex-wrap: wrap;
}

.list_filtre p{
    width: 100%;
}

.filtre button{
    font-size: 16px;
    margin-bottom:15px;
    padding: 14px 10px 14px 20px;
}


.logo_lettreI{
    margin-left: 12px;
    font-size: 15px;
}

form input{
    width: 100px;
    height: 40px;
    padding-left: 5px;
    font-size: 12px;
}

.desktop{
    display: none;
}

.nomad{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: initial;
}


#hebergement{
    width: 100%;
    height: auto;
    grid-area: 2/4/3/5;
}

.list-host{
    font-size: 14px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.list-host > p{
    padding: 25px 10px;
}

.host{
    width: 45%;
    height: 200px;
}

.all_card_heb{
    height: 100px;
}

#popular{
    width: 100%;
    height: 100%;
    margin-top: 20px;
    grid-area: 3/2/4/3;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}


.list-popular{
    width: 100%;
    height: 90%;
    font-size: 12px;
}


#activity{
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-top: 20px;
    grid-area: 3/4/4/5;
    width: 100%;
    height: 100%;
    
}

#activity h2{
    padding: 40px 0 20px 25px;
}

.list-activity{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.fun-card{
    width: 45%;
    height: auto;
    margin: 10px;
}

.fun{
    width: 100%;
    height: 200px;
}

footer{
    margin-top: 50px;
    grid-area: 5/2/6/5;
}
}