*{
    text-decoration: none;
    list-style: none;
    margin: 0%;
}

@font-face{
    font-family: "raleway-regular ";
    src:url("Raleway-Regular.ttf");
    src:url("raleway-regular-webfont.woff");
    src:url("raleway-regular-webfont.woff2");
}

    body{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-family: "raleway-regular", sans-serif;
        padding:0 30px;
        
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

h1{
    width: 66%;
    padding: 20px 0;
}

nav{
    width: 33%;    
}

nav ul{
    padding: 0%;
    display: flex;
    align-items: flex-start;
}

nav ul li{
    padding: 0%;
    width: 33%;
    text-align: center;
    justify-content: space-between;
}

nav a {
    display: block;
    padding: 20px 0 0 0;
    font-size: 20px;
    color: #0065FC;
}



nav ul li:hover a{
    border-top: 2px solid #0065FC;
}


#search{
    width: 100%;
    height: auto;
}

h2 , p{
    padding: 7px 0;
}

form i{
   padding: 14px 14px 16px 14px;
   background-color: #F2F2F2;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
}

form button{
    width: 180px;
    height: 47px;
    font-size: 20px;
    background-color: #0065FC;
    color: #FFF;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    right: 5px;
    top: 2px;
}

input{
    width: 220px;
    height: 35px;
    padding: 5px 10px;
    font-weight: bolder;
    border-right: none;
    border:1px solid grey;
}

.icon{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.icon i{
    padding: 15px;
    border-radius: 50%;
    background-color: #DEEBFF;
    color: #0065FC;
    position: relative;
    left:15px;
}


.icon button{
    font-weight: bolder;
    width: 200px;
    margin-right: 60px;
    font-size: 18px;
    padding: 12px 0;
    background-color: #FFF;
    border: 1px solid grey;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: none;
}

.fa-info{
    color: #0065FC;
    border: 1px solid grey;
    padding: 5px 10px;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 20px;
}

#hebergement{
    width: 73%;
    height: 600px;
    background-color: #F2F2F2;
}

#hebergement h2 {
    height: 4%;
    padding:25px;
}

.list-host{
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

.host{
    width: 30%;
    height: 40%;
    background-color:#FFF;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.heb{
    width: 96%;
    height: 65%;
    padding: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.infohost{
    padding-left: 10px;
    
}

.hebone{
    background-image: url(Reservia/images/hebergements/small/marcus-loke.jpg);
}

.hebtwo{
    background-image: url(Reservia/images/hebergements/small/fred-kleber.jpg);
    background-position-y:center;
}

.hebthree{
    background-image: url(Reservia/images/hebergements/small/reisetopia.jpg);
    background-position-y:center;
}

.hebfour{
    background-image: url(Reservia/images/hebergements/small/annie-spratt.jpg);
    background-position-y:center;
}

.hebfive{
    background-image: url(Reservia/images/hebergements/small/nicate-lee.jpg);
    background-position-y:center;
}

.hebsix{
    background-image: url(Reservia/images/hebergements/small/febrian-zakaria.jpg);
    background-position-y:center;
}

#popular{
    background-color: #F2F2F2;
    width: 25%;
    height: 600px;
}

.head{
    display: flex;
    justify-content: space-between;
    height: 5%;
}

.list-popular{
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.pop{
    width: 90%;
    height: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.mostpop{
    width: 45%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.info{
    width: 55%;
    padding: 10px;
}

.name{
    font-weight: bolder;
}

.price{
    color: grey;
}
.imgone{
    background-image: url(Reservia/images/hebergements/small/emile-guillemot.jpg);
    background-position-x: center;
}

.imgtwo{
    background-image: url(Reservia/images/hebergements/small/aw-creative.jpg);
    background-position-x: center;
}

.imgthree{
    background-image: url(Reservia/images/hebergements/small/febrian-zakaria2.jpg);
    background-position-y:center;

}

#activity{
    width: 100%;
    height:600px;
    margin-top: 50px;
}

.list-activity{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.large{
    width: 24%;
    height: 500px;
}

.size{
    width: 24%;
    height: 300px;
}

.size1{
    width: 24%;
    height: 200px;
}

.size2{
    width: 24%;
    height: 250px;
}

.fun{
    width: 95%;
    height: 90%;
}

.funone{
    background-image: url(Reservia/images/activites/small/reno.jpg);
    background-position-y: top;
}

.funtwo{
    background-image: url(Reservia/images/activites/small/paul-hermann.jpg);
    background-position-y: 40%;
}

.funthree{
    background-image: url(Reservia/images/activites/small/kevin-hikari.jpg);
}

.funfour{
    background-image: url(Reservia/images/activites/small/kilyan.jpg);
}

.funfive{
    background-image: url(Reservia/images/activites/small/florian-wehde.jpg);
    background-position-y: top;

}

.funsix{
    background-image: url(Reservia/images/activites/small/lena-paulin.jpg);
}

footer{
    width: 100%;
    height: 200px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
}

footer div{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media screen and (min-width:320px) and (max-width:673px){

    body{
        padding: 0%;
        margin: 0%;
        flex-direction: column;
        flex-wrap: nowrap;
    }


    section{
        margin-top: 20px;
    }

    /* Style de la section de recherche */

    #search{
        order: 1;
    }

    
    form button{
        width: 50px;
        padding: 0px;
        border-radius: 0px;
        overflow: hidden;
    }
    
    /* Style de la section plus populaire */

    #popular{
        order: 2;
        width: 100%;
        margin: 0%;
        padding: 0%;
    }

    .list-popular{
        width: 100%;
    }

    /* Style de la section hebergement */


    #hebergement{
        order: 3;
        width: 100%;
        margin: 0%;
        padding: 0%;
        height: auto;
    }

    .list-host{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .host{
        width: 100%;
        margin: 3%;
        height: auto;
    }

    .heb{
        height:100px;
    }

    /* Style de la section activity */

    #activity{
        order: 4;
        height: auto;
    }

    .list-activity{
        height: auto;
        display: flex;
        flex-wrap: nowrap;
    }

    .fun-card{
        width: 100%;
        height: auto;
    }

    .fun{
        height: 150px;
    }

    /* Style du pied de page */

    footer{
        order: 5;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        margin-top: 30px;
    }

    footer div {
        width: 100%;
    }

}


@media screen and (min-width:674px) and (max-width:990px){

body{
    margin: 0%;
    padding: 0%;
    display: grid;
    grid-template-columns: 3% 30% 4% 60% 3% ;
    grid-template-rows: 100px  auto  auto  auto 200px;
}

header{
    grid-area: 1/2/2/5;
    width: 94%;

}

#search{
    grid-area: 2/2/3/3;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


form input{
    width: 130px;
    padding: 5px;
}

form button{
    width: 50px;
    padding: 0%;
    border-radius: 0px;
}

.icon{
    display: flex;
    flex-wrap: wrap;
}

.icon button{
    width: 80%;
}

#hebergement{
    width: 100%;
    height: auto;
    grid-area: 2/4/3/5;
}

.list-host{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.host{
    width: 45%;
    height: auto;
}

.heb{
    height: 100px;
}

#popular{
    width: 100%;
    height: auto;
    grid-area: 3/2/4/3;
    display: flex;
    flex-direction: column;
}


.list-popular{
    width: 100%;
    height: 600px;
}

#activity{
    margin: 0%;
    grid-area: 3/4/4/5;
    width: 100%;
    height: auto;
}

.list-activity{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.fun-card{
    width: 45%;
    margin: 10px;
    height: 250px;
    border-bottom-left-radius : 20px;
    border-bottom-right-radius : 20px;
}

.fun{
    width: 100%;
    border-top-left-radius : 20px;
    border-top-right-radius : 20px;
}


footer{
    grid-area: 5/2/6/5;
    width: 94%;
}
}