*{                                                                      /* PARAMETRE GENERAUX */
    text-decoration: none;
    list-style: none;
    margin: 0;
    font-family: "raleway", sans-serif;
    color: black;  
}

@font-face{
    font-family: "raleway-regular ";
    src:url("Raleway-Regular.ttf");
    src:url("raleway-regular-webfont.woff");
    src:url("raleway-regular-webfont.woff2");
}

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cadre , .host, .mieux_note, .fun-card, #search, #popular, #activity{
  border-radius: 20px;
}

.all_card_heb , .fun{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
                                                                            /* PARAMETRE header.main*/
header.main{
    width: 95%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

h1{
    width: 65%;
    padding: 20px 0;
}

.login{
    font-size: 20px;
    font-weight: bold;
    color: #0065FC;
}

nav{
    width: 30%; 
}

nav ul{                               /* enleve le padding de la gauche de ul*/
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

nav ul li{
    width: 50%;
}

nav a {
    display: block;
    width: 100%;                      /*pour animation au suvol*/
    font-size: 20px;
    padding: 34px 0 33px 0;
    text-align: center;
    color: black;
}

nav ul li:hover a{
    border-top: 2px solid #0065FC;
    color: #0065FC;
    transition: 0.2s;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/

#search{                                                                                    /*PARAMETRE SECTION SEARCH */
    width: 95%;
    height: auto;
    margin: auto;
}

.indication{
    font-weight: bold;
    font-size: 20px;
}

.proposition{
    font-weight: 100;
    margin:20px 0;
}

.logo_position{
   height: 20px;
   padding: 16px 14px 14px 14px;
   background-color: #F2F2F2;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
}

form button{                       /*paramètre généraux bouton validation formulaire*/
    position: relative;
    right: 12px;
    background-color: #0065FC;
    color: #FFF;
    border: 0px;
    outline: none;
    cursor: pointer;
}

.desktop{                            /*paramatre bouton bureau*/
    width: 120px;
    height: 50px;
    font-size: 16px;
    padding:0px 10px;
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.nomad{                              /*parametre bouton version mobile/tablette , non affiché*/
    width: 50px;
    height: 50px;
    display: none;
}

.logo_recherche{
    font-size: 15px;
    color: #FFF;
    background-color: #0065FC;
    display: block;
}

input{
    width: 220px;
    height: 48px;
    padding: 0 10px;
    font-size: 16px;
    font-weight: bolder;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: 0px;
    border-right: 0px;
    outline-color:transparent
}

.list_filtre{
    margin-top: 20px;
}

.filtre{
  display: inline-block; 
  cursor: pointer;
}

.list_filtre  p{         /* paragraphe et filtre sur la même ligne*/
    display: inline;
    padding-right: 20px;
    font-weight: bold;
}

.filtre_icon::before{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    padding: 13px;
    border-radius: 50%;
    background-color: #DEEBFF;
    color: #0065FC;
}

.critere{
    display: inline-block;
    width: max-content;
    text-align: center;
    font-weight: bolder;
    padding: 12px 35px;
    margin: 10px 0;
    font-size: 14px;
    background-color: #FFF;
    border: 1px solid grey;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: none;
    position: relative;
    right: 25px;
    bottom: 1px;
    z-index: -10;
}

.filtre:hover .critere{
    animation: fillOn 0.5s forwards;
}

@keyframes fillOn{
   
    0%{clip-path:circle(0%)}
    50%{clip-path: circle(50%); background-color: #DEEBFF;}
    100%{clip-path: circle(100%); background-color: #0065FC; color: #FFF;}
}

.result{
    margin:20px 0;
    font-size: 13px;
    font-weight: lighter;
    display: flex;
    align-items: center;
}


.logo_lettreI{
    color: #0065FC;
    border: 1px solid #DEEBFF;
    border-radius: 50%;
    padding: 5px 10px;
    place-self: center center;
    margin-right: 10px;
}


.fa-star{
    color: #0065FC;
}

.nostar{
    color: #F2F2F2;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/

#hebergement{                                                                                   /* PARAMETRE SECTION HEBERGEMENT */  
    width: 66%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadre{
    width: 95%;
    height: 700px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head_host{
    width: 90%;
    padding: 22px 10px;
    display: flex;
    align-items: center;
    font-size:22px;
    font-weight:bold;
}

.list-host{
    width: 95%;
    height: 75%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.host{
    width: 30%;
    max-width: 550px;
    height: 250px;
    margin: 5px;
    background-color:#FFF;
    box-shadow: 4px 4px 10px rgba(180, 177, 177, 0.808);
    position: relative;
}

.more{
    width: 96%;
    height: 10%;
    font-size:20px;
    font-weight: bolder;
    margin: 20px 0px;
    letter-spacing: -1px;
}

.all_card_heb{
    margin: auto;
    width: 97%;
    height: 50%;
    margin-top:6px;
    background-size: 100%;
    background-position: center;
    background-size: cover;
}

.infohost{
    height:auto;
    padding:10px 20px;
}

.hebone{
    background-image: url(Reservia/images/hebergements/small/marcus-loke.jpg);
}

.hebtwo{
    background-image: url(Reservia/images/hebergements/small/fred-kleber.jpg);
}

.hebthree{
    background-image: url(Reservia/images/hebergements/small/reisetopia.jpg);
}

.hebfour{
    background-image: url(Reservia/images/hebergements/small/annie-spratt.jpg); 
}

.hebfive{
    background-image: url(Reservia/images/hebergements/small/nicate-lee.jpg);
}

.hebsix{
    background-image: url(Reservia/images/hebergements/small/febrian-zakaria.jpg);
}

.name{
    font-weight: 600;
    font-size: 16px;
}

.price{
    font-weight: 100;
    padding: 8px 0;
}

.cash{
    font-weight: bold;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------*/

#popular{                                                                                               /* PARAMETRE SECTION POPULAR */
    width: 34%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.header_popular{
    width: 85%;
    font-size: 22px;
    font-weight: bolder;
    padding: 22px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-popular{
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mieux_note{
    width: 90%;
    height: 25%;
    display:flex;
    background-color:#FFF;
    margin-bottom: 40px;
    box-shadow: 4px 4px 10px rgba(180, 177, 177, 0.808);
}

.all_card_popular{
    margin: 5px;
    width: 45%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-size: cover;
    background-position: center;
}

.info{
    width: 55%;
    padding-left: 10px;
    position: relative;  
}

.info .name{
    padding-top: 20px;
    width: 80%;
}

.star{
    position: absolute;
    bottom: 15px;
}

.imgone{
    background-image: url(Reservia/images/hebergements/small/emile-guillemot.jpg);
    background-position-x: center;
}

.imgtwo{
    background-image: url(Reservia/images/hebergements/small/aw-creative.jpg);
    background-position-x: center;
}

.imgthree{
    background-image: url(Reservia/images/hebergements/small/febrian-zakaria2.jpg);
    background-position-y:center;

}

/* -------------------------------------------------------------------------------------------------------------------------------------------------- */

#activity{                                                                                      /* PARAMETRE SECTION ACTIVITE */
    width: 97%;
    height: auto;
    margin: auto;
}

.activity_location{                                   
    font-weight: bold;
    font-size: 25px;
    margin:15px 5px
}

.list-activity{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}

.fun-card{
    background-color: #F2F2F2;
    box-shadow: 4px 4px 10px rgba(180, 177, 177, 0.808);
    width: 23%;
}

.activite{
    padding: 10px 0px 15px 20px;
    font-weight: bold;
}

.large{                      /*dimension image 1 et 4 */
    height: 400px;
}

.size{                      /*dimension image 2 */
    height: 210px;
    margin-bottom: 40px;
}

.size1{                     /*dimension image 3 */
    height: 150px;
}

.size2{                     /* dimension image 5 et 6 */
    height: 180px;
}

.firsthalf{                /* marge entre image 5 et 6 */
    margin-bottom: 40px;
}

.fun{
    background-size: cover;
    background-position:center center;
    width: 100%;
}

.funone{
    background-image: url(Reservia/images/activites/small/reno.jpg);
    height: 360px;
}

.funtwo{
    background-image: url(Reservia/images/activites/small/paul-hermann.jpg);
    height: 170px;
}

.funthree{
    background-image: url(Reservia/images/activites/small/kevin-hikari.jpg);
    height: 110px;
}

.funfour{
    background-image: url(Reservia/images/activites/small/kilyan.jpg);
    height: 360px;
}

.funfive{
    background-image: url(Reservia/images/activites/small/florian-wehde.jpg);
    height: 140px;
    background-position-y: top;
}

.funsix{
    background-image: url(Reservia/images/activites/small/lena-paulin.jpg);
    height: 140px;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------*/

footer{                                                                                            /* PARAMETRE FOOTER */  
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

footer div{
    width: 33%;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
}

footer p{
    padding:15px 0;
    font-weight: 600;
}

footer a{
    padding: 5px 0;
}

@media screen and (max-width:768px){

            header.main{
                width: 100%;
                flex-wrap: wrap;
                margin-bottom: 20px;
            }

            h1{
                width: 35%;
                order: 1;
            }

            .login{
                width: 35%;
                text-align: right;
                order:2;
            }

            nav{
                width: 100%;
                order: 3;
            }

            
            nav a{
                font-size: 19px;
                margin: auto;
                padding-bottom: 15px;
            }

            nav ul li a:hover{
                border-top: none;
                border-bottom:2px solid #0065FC;
            }

        
            #search{                                                                /* Style de la section de recherche */
                order: 1;
                padding: 0 15px;
            }

            .desktop{
                display: none;
            }

            .nomad{
                border-radius: 15px;
                display: initial;
            }

            .list_filtre{
                display: flex;
                flex-wrap: wrap;
            }
            
            .list_filtre p{
                display: block;
                width: 100%;
            }
            
        
            form {
                display: inline-flex;
                width: 100%;
            }

            input{
                min-width: 150px;
                width: 80%;
            }
            
            
            #hebergement{                                                             /*----------- Style de la section hebergement ----------------------*/
                background-color: #FFF;
                order: 3;
                width: 100%;
                height: auto;
            }

            h3{
                font-size: 23px;
            }
            
            .cadre{
                width: 100%;
                height: 100%;
            }

            .list-host{
                width: 90%;
            }
        
            .host{
                width: 100%;
                height: 200px;
                max-width: none;
            }
            
            .all_card_heb{
                height:100px;
            }

            
            #popular{                                                 /*------------------ Style de la section plus populaire -------------------------*/
                order: 2;
                width: 100%; 
                height: 700px;    
                margin-bottom: 30px;
            }
            
            .list-popular{
                width: 90%;
            }
            
            .mieux_note{
                height: 180px;
                width: 100%;
            }
            

            #activity{                                              /*-------------------------- Style de la section activity --------------------------*/
                order: 4;
                height: auto;
                width: 100%;
                margin-top: 30px;
            }
            
            .activity_location {
                margin-left: 20px;
            }

            .list-activity{
                width: 90%;
                height: auto;
                margin: auto;
            }

            .fun-card{
                height: 200px;
                width: 95%;
                margin: 10px 5px;
                box-shadow: 2px 2px 10px rgba(180, 177, 177, 0.808);
            }

            .fun{
                width: 100%;
                height: 75%;
            }
            

            footer{                         /* -------------------------- Style du pied de page ----------------------------------------------- */
                order: 5;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around; 
                margin-top: 30px;
            }

            footer div{
                width: 80%;
            }

}

@media screen and (min-width:769px) and (max-width:1024px){          /*-------------VERSION TABLETTE ---------------------------------------*/

        body{
            display: grid;
            grid-template-columns: 2% 35% 1% 60% 2% ;
            grid-template-rows: 100px auto 20px auto 200px;
        }

        header.main{                                               /*-------------  HEADER TABLETTE-----------------------------------------*/
            grid-area: 1/2/2/5;
            margin-bottom: 20px;
        }

        h1{
            width: 50%;
            order: 1;
        }

        .login{
            order:3;
        }

        nav{
            width: 40%;
            order: 2;
        }

        nav a{
            padding-top: 35px;
        }

        #search{                                                    /******************** SEARCH TABLETTE --------------------------------*/
            grid-area: 2/2/3/3;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            order: 1;
            margin-top: 10px;
        }

        .list_filtre p{
            display: block;
            width: 100%;
            margin-bottom: 20px;
        }

        input{
            width: 130px;
            font-size: 11px;
        }

        .desktop{
            display: none;
        }

        .nomad{
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            display: initial;
            top: 1px;
        }


        #hebergement{                                                       /*------- HEBERGEMENT TABLETTE -----------------------------------------------*/
            width: 100%;
            grid-area: 2/4/3/5;
        }

        .cadre{
            width: 100%;
            height: 100%;
        }

        .list-host{
            font-size: 14px;
            height: 100%;
        }

        .host{
            width: 42%;
            height: 190px;
            margin: 15px auto;
        }

        .all_card_heb{
            height: 80px;
        }

        .more{
            margin-left: 20px;
        }

        #popular{                       /* ------------------------ SECTION POPULAIRE TABLETTE --------------------------------------------------------*/
            width: 100%;
            height: 100%;
            grid-area: 4/2/5/3;
        }

        .list-popular{
            width: 100%;
            justify-content: space-around;
        }

        #popular .cadre{
            height: 100%;
        }

        .mieux_note{
            width: 90%;

        }

        #activity{              /* ---------------------------------SECTION ACTIVITY TABLETTE -------------------------------------------------------*/
            width: 100%;
            background-color: #F2F2F2;
            grid-area: 4/4/5/5;
        }

        .activity_location{
            padding: 5px 0 5px 15px;
        }

        .list-activity{
            height: auto;
            flex-direction: row;
            margin-bottom: 25px;
        }

        .fun-card{
            width: 42%;
            height: auto;
            margin: 15px auto;
        }

        .fun{
            height: 150px;
        }

        footer{
            grid-area: 5/1/6/6;
        }

}